<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>FoldCharge AI</title>

<link rel="stylesheet" href="/static/css/style.css">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
rel="stylesheet">

</head>

<body>
    <!-- Top Scrolling Header -->

<div class="top-scroll">

    <div class="scroll-text">

        🎓 CVR COLLEGE OF ENGINEERING   |    Department of Electrical & Electronics Engineering (EEE)     
    </div>

</div>

<!-- Splash Screen -->

<div id="loader">

<div class="loader-content">

<h1>⚡ FoldCharge AI</h1>

<p>Smart Foldable Solar EV Charging Station</p>

<div class="loading-bar">

<div class="loading-progress"></div>

</div>

</div>

</div>

<!-- Main App -->

<div id="app" style="display:none;">

<!-- Sidebar -->

<div class="sidebar">

<div class="logo">

⚡ FoldCharge AI

</div>

<ul>

<li class="active">

<i class="fa-solid fa-house"></i>

<span>Dashboard</span>

</li>

<li>

<i class="fa-solid fa-motorcycle"></i>

<span>Vehicle</span>

</li>

<li>

<i class="fa-solid fa-bolt"></i>

<span>Charging</span>

</li>

<li>

<i class="fa-solid fa-sun"></i>

<span>Solar</span>

</li>

<li>

<i class="fa-solid fa-battery-three-quarters"></i>

<span>Battery</span>

</li>

<li>

<i class="fa-solid fa-qrcode"></i>

<span>Payment</span>

</li>

<li>

<i class="fa-solid fa-chart-line"></i>

<span>Analytics</span>

</li>

<li>

<i class="fa-solid fa-video"></i>

<span>CCTV</span>

</li>

<li>

<i class="fa-solid fa-robot"></i>

<span>AI Assistant</span>

</li>

<li>

<i class="fa-solid fa-gear"></i>

<span>Settings</span>

</li>

</ul>

</div>

<!-- Main -->

<div class="main">

<!-- Topbar -->

<div class="topbar">
    <button id="menuBtn">
        <i class="fa-solid fa-bars"></i>
    </button>


<div>

<h2>Dashboard</h2>

<p>Welcome to FoldCharge AI</p>

</div>

<div class="profile">

<i class="fa-solid fa-user-circle"></i>

</div>

</div>

<!-- Dynamic Content -->

<div id="content">

<h1>Dashboard Loading...</h1>

</div>

</div>

</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/static/js/app.js"></script>

</body>

</html>